html, body {
    font-family: 'Dosis', sans-serif;
    background-color: #95b0d8;
    height: 100%;
    margin: 0px;
}

a {
    display: block;
    text-decoration: none;
    color: #dddddd;
}

a:hover {
    color: #081e6a;
}

table {
    border-collapse: collapse;
    border: 2px solid black;
    margin-left: 25px;
}

th, td {
    border: 1px solid black;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #568fe8;
}

.box {
    min-height: 100%;
    background-color: #346fc6;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0px 0px 25px #172c48;
}

select, input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    width: 275px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 3px;
    margin: 2px 2px 2px 0px;
    font-family: 'Dosis', sans-serif;
}
.row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}
.mainBoxes {
    margin: 50px 10px 0px 10px;
}

.formInputTitle {
    font-size: 14px;
    font-family: sans-serif;
}

.errorMessage {
    width: 275px;
    font-size: 14px;
    color: #ff3333;
    font-weight: bold;
}

.panel {
    height: 40px;
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #394e6a;
    box-shadow: 0px 2px 15px #172c48;
    display: flex;
    flex-direction: row;
}

.panel_centered {
    margin-left: 15px;
    line-height: 40px;
}


.panel div:last-child {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
}

.panel > div > form > select {
    width: 130px;
}

.cookiesInfoLabel {
    position: fixed;
    left: 0;
    bottom: 20px;
    width: 100%;
    background-color: rgba(12, 34, 56, 0.7);
    text-align: center;
    padding: 20px;
}

.cookiesInfoLabel > button {
    padding: 7px;
    margin-right: 10px;
    cursor: pointer;
}
